* {
	padding: 0px;
	margin: 0px;
}

body {
	margin: 0 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: url('../visual/bkg.jpg') #164eb7;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top;
	color: #8f8f89;
	margin-top: 20px;
	text-align: left;
}

.wrapper {
	display: block;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	
}

div.dbody {
	display: block;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../visual/vista-new_03.png');
	position: relative;
	height: auto;
	
}

.header {
	color: #FFFFFF;
	text-align: left;
	width: 990px;
	height: 202px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../visual/vista-new_01.png');
	background-repeat: no-repeat;
}

.header h1{
	font-size:36px;
	padding-top: 20px;
	padding-left: 10px;
	font-family: Arial, "MS Sans Serif";
	font-weight: bold;
}
.header h2{
	font-size:24px;
	padding-top: 20px;
	padding-left: 10px;
	font-family: Arial, "MS Sans Serif";
	font-weight: bold;
}
.header h3{
	font-size:18px;
	padding-top: 20px;
	padding-left: 10px;
	font-family: Arial, "MS Sans Serif";
	font-weight: bold;
}

.headmenu {
	width: 990px;
	height: 33px;
	background-image: url('../visual/vista-new_02.png');
	background-repeat: no-repeat;

}

.left {
	width: 183px;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 10px;
	float: left;
	height: auto;
}

.left h2 {
	font-size: 14px;
	text-align: center;
	padding-top: 15px;
	background-image: url('../visual/left_01.png');
	background-repeat: no-repeat;
	color: #ebf1f2;
	height:25px;
}

.left .infobox {
	margin-top: 10px;
}

.lrbtm {
	background-image: url('../visual/left_03.png');
	background-repeat: no-repeat;
	height: 18px;
}

.lrmain {
	background-image: url('../visual/left_02.png');
	background-repeat: repeat;
	padding: 8px
}

.left .infobox .active {
	background: transparent;
	color: #EDBF00;
	border-left: 4px solid #EDBF00;
}

.left .infobox ul {
	list-style-type: none;
	padding-left: 5px;
	margin-bottom: 5px;
	line-height: 100%;
}

.left .infobox ul li a {
	list-style-type: none;
	color: silver;
	background:transparent;
	font-size: 12px;
	line-height: 120%;
	padding-left: 10px;
	text-decoration: none;
	border-left: 4px solid #C6E535;
}

.left .infobox ul li a:hover {
	color: #EDBF00;
	border-left: 4px solid #EDBF00;
}

.right {
	width: 183px;
	margin-top: 10px;
	margin-right: 15px;
	font-size: 10px;
	float: right;
	height: auto;
}

.right h2 {
	font-size: 14px;
	text-align: center;
	padding-top: 15px;
	background-image: url('../visual/left_01.png');
	background-repeat: no-repeat;
	color: #ebf1f2;
	height:25px;
}

.right .infobox {
	margin-top: 10px;
}

.right .infobox .active {
	background: transparent;
	color: #EDBF00;
	border-left: 4px solid #EDBF00;
}


.right .infobox ul {
	list-style-type: none;
	padding-left: 5px;
	margin-bottom: 5px;
	line-height: 100%;
}

.right .infobox ul li a {
	list-style-type: none;
	color: silver;
	background:transparent;
	font-size: 12px;
	line-height: 120%;
	padding-left: 10px;
	text-decoration: none;
	border-left: 4px solid #C6E535;
}

.right .infobox ul li a:hover {
	color: #EDBF00;
	border-left: 4px solid #EDBF00;
}

.center {
	float: left;
	width: 580px;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 7px;
	height: auto;
}

.centerer {
	float: left;
	width: 780px;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 7px;
	height: auto;
}

.icxcontent {
	width: 580px;
	float: left;
	color: silver;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 7px;
	height: auto;

}
.icxcontentr {
	width: 750px;
	float: left;
	color: silver;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 7px;
	height: auto;

}
.icxcontent div{
}

.center .post {
	margin-bottom: 0px;
	margin-left: 10px;
	margin-top: 10px;
	width: 560px;
	float: left;
}
.center .post h2 {
	height: 34px;
	background-image: url('../visual/ccblock_01.png');
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 10px;
	color: #ebf1f2;
	font-size: 18px;
}
.ccmain {
	background-image: url('../visual/ccblock_02.png');
	line-height: 15px;
	padding: 10px;
	font-size: 12px;
	
}
.ccbtm {
	height: 20px;
	background-image: url('../visual/ccblock_03.png');
	background-repeat: no-repeat;
	
}
.centerer .poster {
	margin-bottom: 0px;
	margin-left: 10px;
	margin-top: 10px;
	width: 760px;
	float: left;
}
.centerer .poster h2 {
	height: 34px;
	background-image: url('../visual/ccbigger_01.png');
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 10px;
	color: #ebf1f2;
	font-size: 18px;
}
.ccmainer {
	background-image: url('../visual/ccbigger_02.png');
	line-height: 15px;
	padding: 10px;
	font-size: 12px;
	
}
.ccbtmer {
	height: 20px;
	background-image: url('../visual/ccbigger_03.png');
	background-repeat: no-repeat;
	
}
.center .post1 {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	width: 276px;
	float: left;
}
.center .post1 h2 {
	height: 33px;
	background-image: url('../visual/clr_01.png');
	background-repeat: no-repeat;
	padding-top: 10px;
	color: #ebf1f2;
	font-size: 18px;
	padding-left: 10px;
}
.centerer .poster1 {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 14px;
	width: 372px;
	float: left;
}
.centerer .poster1 h2 {
	height: 33px;
	background-image: url('../visual/clrbigger_01.png');
	background-repeat: no-repeat;
	padding-top: 10px;
	color: #ebf1f2;
	font-size: 18px;
	padding-left: 10px;
}
.center .post2 {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 7px;
	width: 276px;
	float: left;
}

.center .post2 h2 {
	height: 33px;
	background-image: url('../visual/clr_01.png');
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 10px;
	color: #ebf1f2;
	font-size: 18px;
}

.centerer .poster2 {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 7px;
	width: 372px;
	float: left;
}

.centerer .poster2 h2 {
	height: 33px;
	background-image: url('../visual/clrbigger_01.png');
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 10px;
	color: #ebf1f2;
	font-size: 18px;
}

.clrbtm {
	height: 20px;
	background-image: url('../visual/clr_03.png');
	background-repeat: no-repeat;
	
}
.clrbtmer {
	height: 20px;
	background-image: url('../visual/clrbigger_03.png');
	background-repeat: no-repeat;
	
}
.clrmain {
	background-image: url('../visual/clr_02.png');
	line-height: 15px;
	padding: 10px;
	font-size: 12px;
}
.clrmainer {
	background-image: url('../visual/clrbigger_02.png');
	line-height: 15px;
	padding: 10px;
	font-size: 12px;
}

.center  .post ul,.centerer  .poster ul {
	padding: 3%;
	list-style: none;	
}

.center .post img {
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.footer {
	color: silver;
	padding-top: 10px;
	clear: both;
	text-align: center;
	width: 990px;
	height: 34px;
	margin-right: auto;
	margin-left: auto;
	text-transform: uppercase;
	font-size: 10px;
	background-image: url('../visual/vista-new_04.png');
	background-repeat: no-repeat;
}

.footer a {
	color: white;
}
.footer a:hover {
	color: #EDBF00;
}

a {color: silver; text-decoration: none; font-weight: bold; background-color: transparent;}
a:hover {
	color: #EDBF00;
	text-decoration: none;
}

.clear {
	clear: both;
}

img {
	border: 0px;
}

.popme {
	margin-left: 35px;
	color: #fff;
	margin-top: 15px;
	font-size: 12px;

}
.popme li{
	list-style: none;
	color: #fff;
	margin-top: 15px;
	font-size: 12px;
	font-weight: bold;

}
 .topmenu {
  	position: absolute;
    height: 60px;
    width: 900px;
    margin-top: -5px;
    overflow: hidden;
    text-align: center;
 }
 .topmenu li {
     height: 57px;
     text-align: center;
     width: 110px;
	 float: left;
     list-style: none;
 }
.topmenu li a {
	font: bold 14px arial;
	text-decoration: none;
	color: #c0c1c1;
	outline: none;
	text-align: center;
	top: 6px;
 	width:115px;
 	height: 31px;
 	padding-top: 7px;
	display: block;
	height: 30px;
	position: relative;
	overflow: hidden;
}
.topmenu li a:active, .topmenu li a:hover {
 	border: none;
 	color: #fff;
 	background-image: url(../visual/toph.png);
 	background-repeat: no-repeat;
 	width:115px;
 	height: 31px;
 	padding-top: 7px;
}

.uframe{
	background-image: url(../visual/avatarframe.png);
 	background-repeat: no-repeat;
 	width:65px;
 	height: 65px;
 	position: absolute;
 	margin-top: -50px;
 	margin-left: 130px;
 	padding-left: 7px;
 	padding-top: 7px;
}

.uframe2{
	background-image: url(../visual/avatarframe.png);
 	background-repeat: no-repeat;
 	width:65px;
 	height: 65px;
 	position: absolute;
 	margin-top: -10px;
 	margin-left: 65px;
 	padding-left: 7px;
 	padding-top: 7px;
}

.uname{
 	position: absolute;
 	margin-top: -30px;
 	margin-left: 10px;
 	padding-left: 7px;
 	padding-top: 7px;
 	font-size: 13px;
 	font-weight: bold;
 	color: #EDBF00;
 	font-variant: small-caps;
}

.av { z-index: -999999;position: absolute}

/* XOOPS ICMS SPECIFIC DATA */

#mainmenu {}
#mainmenu a { display: block; margin: 0; padding: 4px;}
#mainmenu a:hover {}
#mainmenu a.menuTop {padding-left: 3px; }
#mainmenu a.menuMain {padding-left: 3px;}
#mainmenu a.menuSub {padding-left: 9px;}

#usermenu a {display: block; margin: 0; padding: 4px;}
#usermenu a:hover {}
#usermenu a.menuTop {}
#usermenu a.highlight {}

/***** XOOPS ICMS CORE STUFF *****/
.item {border: 1px solid #000;}
.item h2{background-image: url(../visual/cth.png);background-repeat: repeat;height: 25px;padding: 5px}
.itemHead {padding: 3px; background-color: #023765; color: #FFFFFF;}
.itemInfo {text-align: right; padding: 3px; background-image: url(../visual/odd.png);background-repeat: repeat;}
.itemTitle a {font-size: 130%; font-weight: bold; font-variant: small-caps; color: #ffffff; background-color: transparent;}
.itemPoster {font-size: 90%; font-style:italic;}
.itemPostDate {font-size: 90%; font-style:italic;}
.itemStats {font-size: 90%; font-style:italic;}
.itemBody {padding: 5px;background-image: url(../visual/odd.png);background-repeat: repeat;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-image: url(../visual/odd.png);background-repeat: repeat;}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}
.outer {border: 1px solid #000;}
.head {background-image: url(../visual/head.png);background-repeat: repeat; padding: 5px; font-weight: bold;}
.even a{font-size: 10px}
.even {background-image: url(../visual/even.png);background-repeat: repeat; padding: 5px;color: #fff}
.odd {background-image: url(../visual/odd.png);background-repeat: repeat; padding: 5px;color: #fff}
.foot {background-image: url(../visual/odd.png);background-repeat: repeat; padding: 5px; font-weight: bold;}
tr.even td {background-image: url(../visual/even.png);background-repeat: repeat; padding: 5px;}
tr.odd td {background-image: url(../visual/odd.png);background-repeat: repeat; padding: 5px;}

table {width: 100%;text-align: left;}
table td {padding: 0; border-width: 0; vertical-align: top;font-size: 12px;font-family: /*"lucida sans unicode",*/Verdana, Arial, Helvetica, sans-serif;}
th {background-image: url(../visual/cth.png);background-repeat: repeat;color: #ebf1f2;height: 30px; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 14px}
#centercolumn th {background-image: url(../visual/cth.png);background-repeat: repeat; color: #ebf1f2;vertical-align: middle;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}


/* forms elements */
input { border: 1px solid #CCCCCC;font-size: 11px; font-family: verdana, arial, helvetica, sans-serif; color: #333333;  background-color: #ffffff;padding-left:3px;background-color: #f7f7f7;}
textarea {background-color: #f7f7f7;color: #333333; border: #CCCCCC 1px solid; width: 430px; font-size: 11px; font-family: verdana, arial, helvetica, sans-serif;}
select {border: 1px solid #CCCCCC; font-size: 11px; font-family: verdana, arial, helvetica, sans-serif;}
.formButton {}
input:focus, textarea:focus{background-color: #ffffff;border: 1px solid #9f9f9f;}

/* End of XOOPS-ICMS data */

